#recurly-accounts ul {
  display: block;
  width: 150px;
}

#recurly-accounts ul li a {
  display:inline-block;
  padding: 0 1px;
  margin: 0;
  width: 20px;
  width: 20px;
}

#recurly-accounts ul li a {
    border-radius: 3px;
    text-indent: -9999px;
    background-color: #f2f2f2;
}

#recurly-accounts ul li a.subscriptions {
    background: url(../images/subscriptions.png) no-repeat center center;
}

#recurly-accounts ul li a.invoices {
    background: url(../images/invoices.png) no-repeat center center;
}

#recurly-accounts ul li a.transactions {
    background: url(../images/transactions.png) no-repeat center center;
}

#recurly-accounts ul li a.local {
    background: url(../images/users.png) no-repeat center center;
    padding-right: 0;
}

#recurly-accounts ul li a.local.unfound {
    background: url(../images/users-unfound.png) no-repeat center center;
    padding-right: 0;
}

#recurly-accounts ul li a:hover {
    background-color: rgb(173, 216, 230);
}